<script setup>
import { useForm, Head, Link } from '@inertiajs/inertia-vue3'
import { mdiAccount, mdiAsterisk } from '@mdi/js'
import LayoutGuest from '@/Layouts/LayoutGuest.vue'
import SectionFullScreen from '@/Components/SectionFullScreen.vue'
import CardBox from '@/Components/CardBox.vue'
import FormCheckRadioGroup from '@/Components/FormCheckRadioGroup.vue'
import FormField from '@/Components/FormField.vue'
import FormControl from '@/Components/FormControl.vue'
import BaseDivider from '@/Components/BaseDivider.vue'
import BaseButton from '@/Components/BaseButton.vue'
import BaseButtons from '@/Components/BaseButtons.vue'
import FormValidationErrors from '@/Components/FormValidationErrors.vue'
import NotificationBarInCard from '@/Components/NotificationBarInCard.vue'
import BaseLevel from '@/Components/BaseLevel.vue'

const props = defineProps({
  canResetPassword: Boolean,
  status: {
    type: String,
    default: null
  }
})

const form = useForm({
  email: '',
  password: '',
  remember: []
})

const submit = () => {
  form
    .transform(data => ({
      ... data,
      remember: form.remember && form.remember.length ? 'on' : ''
    }))
    .post(route('login'), {
      onFinish: () => form.reset('password'),
    })
}
</script>

<template>

  <LayoutGuest>
    <Head title="Pharmaniaga" />

    <SectionMain>
       
      <div class="grid grid-cols-1 gap-2 lg:grid-cols-1 mb-3">
<img
                src="https://pharmaniaga.com/wp-content/uploads/2020/12/pharma-logo01-250px.png"
                alt="image" 
                class="h-20"
              /><section class="relative z-10 bg-[#F7F7F7] py-4 ">

  <div class="absolute left-0 top-0 z-[-1] h-full w-1/4 bg-primary"></div>
  <div class="container mx-auto">
    <div class="bg-white">
      <div class="flex flex-wrap items-stretch">
        <div class="w-full lg:w-1/2 ">
          <div class="relative hidden h-full w-full overflow-hidden lg:flex">
            <div class="flex h-full items-center ">
              <img
                src="https://pharmaniaga.com/wp-content/uploads/2020/11/home-Growth-and-Sustainability.png"
                alt="image" 
                class=" h-auto "
              />
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2" >
          <div class="w-full py-4 px-8 sm:p-[70px] lg:px-14 xl:px-[90px]">
            <h2 class="mb-3 text-[32px] font-bold ">
              <span class="text-blue-500">Welcome to </span><span class="text-yellow-500">Pharmaniaga AI</span>
            </h2>
           
            <CardBox
        :class="cardClass"
        form
        @submit.prevent="submit"
      >
        <FormValidationErrors />

        <NotificationBarInCard 
          v-if="status"
          color="info"
        >
          {{ status }}
        </NotificationBarInCard>

        <FormField
          label="Email"
          label-for="email"
          help="Please enter your email"
        >
          <FormControl
            v-model="form.email"
            :icon="mdiAccount"
            id="email"
            autocomplete="email"
            type="email"
            required
          />
        </FormField>

        <FormField
          label="Password"
          label-for="password"
          help="Please enter your password"
        >
          <FormControl
            v-model="form.password"
            :icon="mdiAsterisk"
            type="password"
            id="password"
            autocomplete="current-password"
            required
          />
        </FormField>

        <FormCheckRadioGroup
          v-model="form.remember"
          name="remember"
          :options="{ remember: 'Remember' }"
        />

        <BaseDivider />

        <BaseLevel>
          <BaseButtons>
            <BaseButton
              type="submit"
              color="info"
              label="Login"
              :class="{ 'opacity-25': form.processing }"
              :disabled="form.processing"
            />
            <BaseButton
              v-if="canResetPassword"
              :route-name="route('password.request')"
              color="info"
              outline
              label="Remind"
            />
          </BaseButtons>
          <Link
            :href="route('register')"
          >
            Register
          </Link>
        </BaseLevel>
      </CardBox>
            <div class="mt-6 flex flex-wrap items-center md:mt-10">
              <p class="mb-3 mr-5 text-xs font-medium text-body-color">
                Login With
              </p>
              <div class="mb-3 flex items-center">
                <a
                  href="javascript:void(0)"
                  class="mr-4 text-xs font-medium text-dark hover:text-primary hover:underline"
                >
                  Facebook
                </a>
                <a
                  href="javascript:void(0)"
                  class="mr-4 text-xs font-medium text-dark hover:text-primary hover:underline"
                >
                  Twitter
                </a>
                <a
                  href="javascript:void(0)"
                  class="mr-4 text-xs font-medium text-dark hover:text-primary hover:underline"
                >
                  Google
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Forms Section End -->

        
      </div>

    


     

    </SectionMain>
  </LayoutGuest>
</template>