<script setup>
import { mdiGithub } from '@mdi/js'
import BaseButton from '@/Components/BaseButton.vue'
import SectionBanner from '@/Components/SectionBanner.vue'

</script>
<template>
  <SectionBanner bg="pinkRed">
   
  
  </SectionBanner>  
</template>